.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-links_logo {
  margin: 10px;
  padding: 10px;
  margin-left: 1.5rem;
}
.logo_img {
  width: 62px;
  height: 50px;
}
.logo_text {
  margin-left: 5px;
  right: 20px;
  height: 50px;
}
.navbar-links_container {
  display: flex;
  font-size: 35px;
  font-weight: bold;
  margin-left: 50px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  gap: 100px;
}
a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
a {
  color: #174895;
}
