.container {
  display: flex;
  margin-left: 5.65rem;
  flex-direction: column;
  gap: 3rem;
}
.upper_part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(43, 43, 207);
  font-weight: lighter;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input[type="text"],
input[type="password"] {
  height: 2rem;
  border: none;
  background-color: white;
  max-width:300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  font-size: 16px;
  font-family: Arial;
  width: 300px;
  height: 35px;
  border: none;
  border-width: 1px;
  color: #fff;
  border: none;
  border-color: #e962e7;
  font-weight: bold;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 11px 2px rgb(144, 142, 142);
  text-shadow: 1px 0px 0px #2f6627;
  background: #df51f5;
  text-align: center;
  cursor: pointer;
}
label{
    font-size: 15px;
    margin-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.footer-container {
    margin-top: -10px;
    display: flex;
    

}
p{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif; 
}
p1{
    font-size: 15px;
    color:rgb(43, 43, 207);
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}
